<html>
    <head>
        <script type="text/javascript" src="/js/prototype.js"></script>
        <script type="text/javascript" src="/js/resizable.js"></script>
        <script type="text/javascript" src="/js/Jules.js"></script>
        <script type="text/javascript" src="/js/effects.js"></script>
        <script type="text/javascript" src="/js/dragdrop.js"></script>
        <link href="/css/Jules.css" rel="stylesheet" type="text/css">
            
        <script type="text/javascript">
            document.observe('dom:loaded', function(ev) {

                var m = new JulesMaster('the_container');
                
                //CREATE SOME JULES THAT ARE DRAGGABLE AND RESIZABLE
                ['jules1','jules2','jules1'].each(function(name) {
                    var j = m.create(name, {
                        'js_file':'/js/'+name+'.js',
                        'js_func':name+'_init',
                        'afterInit':function(jule) {
                            new Draggable(jule.container, {'handle':jule.nav});
                            var r = new Resizable(jule.container);
                            jule.r = r;
                            jule.observe('jules:resized', function(ev) {
                                jule.r.setResizer();
                            });
                            jule.container.setStyle({'position':'absolute'});
                        },
                        'afterContent':function(jule) {
                            jule.r.setResizer();
                        }
                    });
                });
                

                // SETUP THE BUTTON THAT CONTROL THE LAYOUTS
                function available(jm) {
                    var select = $('layouts');
                    select.update('');
                    jm.availableLayouts().each(function(l) {
                        var o = new Element('option').insert(l);
                        select.insert(o);
                    });
                    
                    if (select.childElements().length > 0) {
                        m.loadLayout($('layouts').getValue());
                    }
                }

                available(m);

                $('save').observe('click', function(ev) {
                    var l = m.getPositions();
                    var selected = $('layouts').getValue();
                    m.saveLayout(selected, l);
                }.bind(m));

                $('new').observe('click', function(ev) {
                    var name = prompt("Enter the name of your new layout.", "");
                    if (name != null && name != "") {
                        var o = new Element('option', {'SELECTED':'SELECTED'}).insert(name);
                        $('layouts').insert(o);
                    }
                }.bind(m));

                $('load').observe('click', function(ev) {
                    var selected = $('layouts').getValue();
                    m.loadLayout(selected);
                    //This sets the resizers in the correct posision
                    document.fire('jules:resized');
                }.bind(m));
            });
        </script>

    </head>
    <body>

        <div>
            <select id="layouts">
            </select>
            <input id="load" type="button" value="Load">
            <input id="new" type="button" value="New">
            <input id="save" type="button" value="Save">
        </div>

        <div id="the_container">
        </div>
    </body>
</html>
